
.main {
position:relative;
top:-200px;
    width: 100vw;
    height: 35vw;

    display: -webkit-flex; /* Safari */
    display: flex;
}

/* Safari 6.1+ */
.main app-robot-un:nth-of-type(1) {-webkit-flex-grow: 3;}
.main app-table:nth-of-type(2) {-webkit-flex-grow: 2;}
.main app-robot-trois:nth-of-type(3) {-webkit-flex-grow: 3;}

/* Standard syntax */
.main  app-robot-un:nth-of-type(1) {flex-grow: 3;}
.main app-table:nth-of-type(2) {flex-grow: 2;}
.main app-robot-trois:nth-of-type(3) {flex-grow:3;}

#toolbar {
    padding:0;

    margin-left:-35%;
z-index:2;
}

header {
    background:#000000;
    width:100%;
    z-index:3;
}

.basic-btn2 {
    width:100px;
    margin:0;
    color:#ffffff
}

#troisLignes{
max-height:60px;
max-width:60px;

}

#button{
position:fixed;
right:5px;

}

#menu{
color:#ffffff;
}
.dropdown-menu{
background:#000000;
width:210px;
}

.dropdown-menu a span{
color:#ffffff;
text-align:center;
}


#page {

    margin:0;
z-index:2;
}

#page img {
    margin-top:30px;
}


#joueurEnLigne{
  color:#ffffff;
}

app-joueur{
position:fixed;
bottom:0;

}
app-table{
}
app-robot-un{

}
app-robot-trois{
}
app-robot-deux{


}

@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
}
