<div class="form-container">
  <a routerLink="/login" id="goback">Annuler</a>

  <h2>Se connecter</h2>

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <input type="text" placeholder="Adresse courriel" (ngModel)="email" name="email" class="txt" required>
    <input type="password" placeholder="Mot de passe" (ngModel)="password" name="password" class="txt" required>


    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Créer mon compte</button>
  </form>
</div>
