#robotTrois{
position:relative;
width:500px;
padding-left:90px;
}
#tete{
height:200px;
width:184px;
margin-left:120px;
}

#corp{
margin-left:80px;
height:240px;
width:224px;
}
#braGauche{
position:absolute;
bottom:190px;
height:120px;
width:128px;
}
#braDroite{
position:absolute;
left:345px;
bottom:190px;
height:120px;
width:128px;
}

